obj/
.vs


Library
Temp
Logs
ProjectSettings/XRSettings.asset
ProjectSettings/VFXManager.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/TagManager.asset
ProjectSettings/QualitySettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/InputManager.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/ClusterInputManager.asset
ProjectSettings/AudioManager.asset
Packages/packages-lock.json
Packages/manifest.json
*.pdb
*.dll
obj/Debug/Assembly-CSharp.pdb
obj/Debug/Assembly-CSharp.dll
.vs/Zahnradexperiment/v15/Server/sqlite3/storage.ide-wal
.vs/Zahnradexperiment/v15/Server/sqlite3/storage.ide-shm
.vs/Zahnradexperiment/v15/Server/sqlite3/storage.ide
.vs/Zahnradexperiment/v15/.suo
obj/Debug/Assembly-CSharp.csproj.CopyComplete
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
