obj
.vs


Library
Temp
Logs
ProjectSettings/XRSettings.asset
ProjectSettings/VFXManager.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/TagManager.asset
ProjectSettings/QualitySettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/InputManager.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/ClusterInputManager.asset
ProjectSettings/AudioManager.asset
Packages/packages-lock.json
Packages/manifest.json
